.login{
    height: 120px;
    width: 200px;
    
    background-color: rgb(197, 88, 88);
    margin-left:40% ;
    margin-right:40%;
    border:2px ;
    border-color: black;
    border-radius:2%;
    padding-left: 10px;
}